.timeline-container {
  color-scheme: light dark;
}

.timeline-vertical .timeline-date-label {
  box-sizing: border-box;
  width: auto;
  padding-right: 4px;
  text-align: right;
  white-space: nowrap;
}
